@tailwind base;
@tailwind components;
@tailwind utilities;

.section-headline {
  @apply font-bold sm:text-xl uppercase tracking-widest border-sky-700 border-l-8 pl-2;
}

.prose h4.bottom-line {
  margin-top: -1em;
  margin-bottom: .6em;
}

progress {
  margin-top: 0.1rem;
  width: 50%;
  height: 10px;
  margin-bottom: 0rem;
}

progress::-webkit-progress-bar {
  background-color: #d1d5db;
}

progress::-webkit-progress-value {
  background-color: #0369a1;
}

progress::-moz-progress-bar {
  background-color: #0369a1;
}

.section-headline {
  color: rgb(3 105 161) !important;
}

#atexo-headline::after {
  display: inline-block;
  height: 30px;
  width: 50px;
  position: relative;
  bottom: -10px;
  content: "";
  background-image: url("./assets/logo-atexo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 2em;
}

#experience div > p, #experience div > ul {
  margin: 0;
}

.prose {
  line-height: 1.25;
  max-width: none;
}

.prose p {
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}

@media print {
  @page {
      margin: 0;
      size: A4;
  }

  html {
    font-size: 8pt;
  }
  body{
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
  }
  #wrapper {
    margin: 0;
    flex-direction: row-reverse;
  }

  #sidebar {
    max-width: 24rem;
    padding-top: 2em;
  }
  .experience, #sidebar > * {
    page-break-inside: avoid;
  }
  .shadow-2xl {
    box-shadow: none;
  }
  progress {
    width: 40%;
  }

  hr.hidden {
    page-break-before: always;
    display: block;
    margin-bottom: 3em;
    border-color: none;
  }
  .prose hr.hidden {
    background-color: none;
    margin-top: 0;
  }
}
